/* Add a black background color to the top navigation */
.navigation-bar {
 width: 100%;
 height: 80px;
 background-color: white;
  overflow: hidden;
}


.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-top: 30px
}


/* Style the links inside the navigation bar */
.navigation-bar a {
  display: in-line block
  verticle align: top;
  color: #4e91fd;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  margin-right: 50px;
  margin-top: 30px
}



/* Change the color of links on hover */
.navigation-bar a:hover {
  color: black;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  background-color: #04AA6D;
  color: white;
}
