
.logo {
  width: 150px;
  height: auto;
}

/* Wrapper for the links */
.nav-links {
  display: flex;
  gap: 40px;                       /* Space between links */
}


.navigation-bar {
  display: flex;
  justify-content: space-between;  /* Logo left, links right */
  align-items: center;             /* Align vertically */
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 0 20px;                 /* Optional spacing inside the nav */
}


/* Style the links */
.nav-links a {
  color: #4e91fd;
  text-decoration: none;
  font-size: 15px;
  font-family: Sans-serif;
  padding: 10px;
  object-fit: cover;
}



/* Change the color of links on hover */
.navigation-bar a:hover {
  color: black;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  color: black;
}


.hero-image {
  width: 100%;
  height: 200px;                 /* Set a visible height */
  margin-top: 300px;             /* Push it below the navbar if needed */
  justify-content: center;       /* Center image horizontally */
  align-items: center;           /* Center image vertically */
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
